<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>1.510</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.Hudson.Administer:dmc-hudson</permission>
    <permission>hudson.model.Hudson.Administer:dmc-ma-admins</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.View.Read:anonymous</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.plugins.active_directory.ActiveDirectorySecurityRealm" plugin="active-directory@1.30">
    <domain>dmc.local</domain>
    <bindPassword>cSxwmcPFkN+c0Rm/vMEIsA==</bindPassword>
  </securityRealm>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <systemMessage>&lt;div id=&quot;description&quot;&gt;&lt;div&gt;&lt;img style=&quot;float:right; margin-top:10px; margin-right:30px;&quot; src=&quot;http://www.intra.dmc.de/intranet/uploads/tf/logo_dmc.gif&quot; alt=&quot;dmc&quot;&gt;&#xd;
&lt;h2&gt;Willkommen auf dem CI_Server&lt;/h2&gt;&#xd;
&lt;div style=&quot;margin-left: 20px;&quot;&gt;&#xd;
&lt;ul&gt;&#xd;
   &lt;li&gt;&#xd;
   Konfiguration von Projekten, Jobs und Berechtigungen bitte über &lt;a href=&quot;http://tickets.dmc.de/otrs/customer.pl&quot;&gt;OTRS&lt;/a&gt; anfragen.&#xd;
   &lt;/li&gt;&#xd;
   &lt;li&gt;&#xd;
   Informationen zu &lt;a href=&quot;https://wiki.intra.dmc.de/testmgmt/index.php5/Verwendung_%28CI-System%29&quot;&gt;Jenkins bei DMC&lt;/a&gt;: &#xd;
   &lt;/li&gt;&#xd;
   &lt;li&gt;&#xd;
   Prinzipielle Anfragen bitte an &lt;a href=&quot;mailto:melanie.haller@dmc.de,fabian.mutzbauer@dmc.de&quot;&gt;Melanie Haller oder Fabian Mutzbauer&lt;/a&gt;&#xd;
   &lt;/li&gt;&#xd;
   &lt;li&gt;&#xd;
    Als Verteiler für Themen bzw. Informationen rund um Jenkins und CI dient folgende Verteilerliste: &lt;a href=&quot;mailto:v-team-hudson-users@dmc.de&quot;&gt;v-team-hudson-users@dmc.de&lt;/a&gt;(Lasst Euch bitte einfach in die Liste eintragen wenn ihr Euch für CI-Themen interessiert)&#xd;
   &lt;/li&gt;&#xd;
&lt;/ul&gt;&#xd;
&lt;/div&gt;&#xd;
&lt;/div&gt;&lt;div align=&quot;right&quot;&gt;&lt;a onclick=&quot;return replaceDescription();&quot; href=&quot;editDescription&quot;&gt;&lt;img alt=&quot;&quot; src=&quot;/hudson/static/8898695c/images/16x16/notepad.png&quot; height=&quot;16&quot; width=&quot;16&quot;&gt;Beschreibung bearbeiten&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
</hudson>
